<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>addPage</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/public/layui/css/layui.css">
    </head>

    <body>
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">name</label>
                <div class="layui-input-block">
                    <input type="text" name="name" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">age</label>
                <div class="layui-input-block">
                    <input type="text" name="age" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">sex</label>
                <div class="layui-input-block">
                    <input type="radio" name="sex" value="1" title="男" checked="">
                    <input type="radio" name="sex" value="0" title="女">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    <button type="button" class="layui-btn" lay-submit="" lay-filter="add">立即提交</button>
                </div>
            </div>
        </form>
    </body>
    <script src="/public/layui/layui.js"></script>
    <script>
        layui.use(['form', 'jquery'], function () {
            var form = layui.form,
                $ = layui.jquery;

            //监听提交
            form.on('submit(add)', function (data) {
                $.ajax({
                    type: "post",
                    url: "http://127.0.0.1:7001/users",
                    data: data.field,
                    dataType: "json",
                }).then(function (res) {
                    var index = parent.layer.getFrameIndex(window.name);
                    if (res.msg == '操作成功') {
                        parent.layer.close(index);
                        parent.layer.msg(res.msg)
                    } else {
                        parent.layer.close(index);
                        parent.layer.msg('操作失败')
                    }

                });
            });
        });
    </script>

</html>